<!DOCTYPE html>
<html lang="en">
<%- include('header.ejs')%>

    <div class="container">
        <h2>스마트폰 정보 등록</h2>
        <table class="table table-striped">
        </table>
    </div>
</body>
</html>