body {
  background-color: antiquewhite;
  text-align: center;
}
.top {
  text-align: center;
  color:sienna;
}
.AddBtn{
  text-align: center;
  border: none;
  background-color: sienna;
  margin: 0;
  box-sizing: border-box;
  border-radius: 0px 5px 5px 0px;
  width: 30px;
}
.inputText{
  border: 0;
  border-radius: 5px 0px 0px 5px;
}
.scrollTag{
  margin: 20px;
  width: 80px;
  font-size: 16px;
  color: black;
  background: transparent;
  border: 2px solid sienna;
  border-radius: 5px;
}
select option{
  background: sienna;
}
.todoText{
  background-color: rgba(187, 76, 76, 0.075);
  width: 250px;
  margin: 0;
}
.CheckBtn {
  text-align: center;
  border: none;
  background-color: rgba(66, 123, 228, 0.938);
  margin: 0;
  box-sizing: border-box;
  width: 45px;
}
.DeleteBtn{
  text-align: center;
  border: none;
  background-color: rgba(252, 0, 0, 0.329);
  margin: 0;
  box-sizing: border-box;
  width: 45px;
}
table{
  text-align: center;
  margin: auto;
}